.find-body {
	background-color: $green-nav-boston-terrier;
}

.find-header {
	margin-top: 50px;
	margin-bottom: 70px;

	ul {
		display: flex;
		justify-content: center;
		gap: 115px;
		list-style: none;
		a {
			text-decoration: none;
			color: black;
			letter-spacing: 1px;
			font-weight: 600;
			display: block;

			font-size: 18px;

			transition: all 0.4s ease;

			&:hover {
				color: $green-nav-boston-terrier;
				transform: translateY(-3px) translateX(-5px);
			}
		}
	}
}

.find-company-title {
	font-weight: 600;
}

#back-site {
	background-color: rgb(236, 230, 223);
	padding: 10px;
	border-radius: 10px;

	&:hover {
		background-color: $cta-button-cocker-spaniel;
		color: black;
	}
}

@media only screen and (max-width: 1400px) {
	.find-header {
		ul {
			display: flex;
			flex-direction: row;
			gap: 30px;
			list-style: none;
		}
	}
}

.find-subheading {
	font-size: 34px;
}

.find-main {
	max-width: 1400px;
	margin: 170px auto 0 auto;

	h1 {
		margin-bottom: 25px;
		font-size: 46px;
	}

	h2 {
		margin-bottom: 25px;
	}

	p {
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1400px) {
	.find-main {
		max-width: 1000px;
	}
}

#ndis {
	font-weight: 700;
	font-style: italic;
}

// SEO Best Practices

.SEO-container {
	max-width: 1400px;
	margin: 170px auto 0 auto;

	h1 {
		font-size: 46px;
	}

	h2 {
		margin-bottom: 25px;
		color: $green-nav-boston-terrier;
	}

	p {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1400px) {
	.SEO-container {
		max-width: 1000px;
	}
}

.seo-hero {
	margin-bottom: 55px;
}

.seo-content {
	h3 {
		font-size: 20px;
		margin: 20px 0;
	}

	li {
		font-size: 18px;
	}
}

// FOOTER

.find-footer {
	padding: 80px 13% 70px;
	margin-top: 130px;
	color: rgb(0, 0, 0);
	border-top: solid 2px $green-primary-beagle;
}

.find-footer {
	display: flex;
	justify-content: center;
	gap: 400px;
}

.footer-logo {
	width: 200px;
}

.footer-content {
	display: flex;
	flex-direction: column;

	ul {
		padding-left: 0;

		a {
			text-decoration: none;
		}
	}
}

.footer-content p {
	color: $black-schnauzer;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 1;
	margin: 20px 0;
}

.footer-content h4 {
	color: #0e0d0d;
	margin-bottom: 1.5rem;
	font-size: 20px;
}

.footer-content li {
	margin-bottom: 16px;
	list-style: none;
	text-decoration: none;
}

.footer-content li a {
	display: block;
	color: #121213;
	font-size: 15px;
	font-weight: 400;
	transition: all 0.4s ease;
}

.footer-content li a:hover {
	transform: translateY(-3px) translateX(-5px);
	color: var(--yellow-main);
}

.icons a {
	display: inline-block;
	font-size: 22px;
	margin-right: 17px;
	transition: all 0.4s ease;
}

.icons a:hover {
	transform: translateY(-5px);
	color: #facf33;
}

@media (max-width: 1690px) {
	footer {
		padding: 50px 5% 40px;
	}
}

// References

.references {
	display: flex;
	flex-direction: column;
	h4 {
		font-size: 20px;
		margin: 20px 0 10px 0;
	}

	a {
		text-decoration: none;
		font-weight: 500;
		color: darkgreen;
	}
}

// Vocabulary

dt {
	font-size: 20px;
	color: darkgreen;
	margin-bottom: 5px;
	font-weight: 600;
}
dd {
	font-size: 18px;
	margin-bottom: 20px;
}

// About Page

.about-container {
	max-width: 1400px;
	margin: 170px auto 0 auto;

	h1 {
		font-size: 46px;
	}

	h2 {
		color: rgba(124, 151, 113, 0.4);
	}

	span {
		font-weight: 600;
	}
}

@media only screen and (max-width: 1200px) {
	.about-container {
		max-width: 1000px;
	}
}

#subheading-about {
	padding-bottom: 50px;
}

.about-text-list {
	p {
		padding: 5px 0 30px 0;
	}
}

hr.style-two {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-bottom: 50px;

	&:after {
		content: "";
		display: inline-block;
		position: relative;
		top: -0.7em;
		font-size: 1.5em;
		padding: 0 0.25em;
		background: #cad5c6;
	}
}

.about-tech {
	margin: 40px 0 40px 0;
	h4 {
		color: darkgreen;
	}
}

.about-evaluation {
	h4 {
		color: darkgreen;
	}
}

.accessibility-container {
	h2 {
		color: black;
		margin-bottom: 20px;
	}

	p {
		padding-bottom: 20px;
	}
}
