.skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip:focus {
	position: static;
	width: auto;
	height: auto;
}

.hero-button {
	:focus {
		outline: 2px solid blue; /* Example focus style */
	}
}

#provider-text {
	color: #1c1c1c;
}
