/*=============================================
*            primary colors                   *
=============================================*/

$brown-khaki-corgi: rgba(185, 163, 148, 1);
$brown-silver-labrador: rgba(212, 197, 199, 1);
$green-about-us-bulldog: rgb(125, 189, 167);
$green-primary-beagle: rgba(138, 162, 129, 1);
$green-nav-boston-terrier: rgba(124, 151, 113, 0.4);
$green-viridian-boxer: rgba(83, 145, 126, 1);
$purple-lavender-great-dane: rgba(218, 212, 239, 1);
$purple-wenge-weimaraner: rgba(99, 83, 91, 1);
$purple-dark-doberman: rgba(84, 79, 119, 1);
$purple-medium-poodle: rgba(135, 128, 172, 1);

/* text */
$black-schnauzer: rgba(0, 0, 0, 1);
$black-off: rgba(34, 34, 34, 0.7);
$white-samoyed: rgba(255, 255, 255, 1);

/* cta & misc */
$cta-button-cocker-spaniel: rgba(250, 159, 66, 1);
